body {
    position: relative;
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 1em;
}
.wordcloud text:hover {
    opacity: .7 !important;
}
