<html>
    <head>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>
            function buildURL() {
                return $('#novela').val() + "/" + $('#datas').val() + "/tree/";
            }

            $(document).ready(function(){
                $('body').bind('keypress', function(e) {
                    var code = e.keyCode || e.which; 
                    if (code == 100) {
                        $('p.secondary').show();
                    }
                });
            });
        </script>
        <style type='text/css'>
            legend{
                padding: 1em;
                font: 80%/1 ubuntu;
                font-weight: bolder;
                color: #1E254A;
            }
            fieldset{
                border-width: 1px 0 0 0;
                border-style: solid none none none;
                border-color: #1E254A;
            }
            .secondary {
                display: none;
            }
        </style>
    </head>
    <body>
        <h3>Nao existe essa análise =/</h3>
        <p class='secondary'>{{ name }}</p>
    </body>
</html>
